.carts__section {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 0 60px 0 60px;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.cart__items {
  border: 1px solid #000;
  height: 350px;
  background: #fff;
  width: 220px;
}

.cart__items:hover {
  trans: scale(1.1);
  transition: 0.5s;
  z-index: 1;
}

.cart-item {
  text-decoration: none;
  color: #000;
}

.cart__item-image {
  border-bottom: 1px solid #000;
  position: relative;
}

.cart__item-about a h3 {
  text-align: start;
  margin: 0;
  padding: 10px 0 0 15px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.cart__item-price {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  gap: 20px;
}

.cart__item-price p {
  color: #f00;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.cart__item-star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart__item-star small {
  color: #8c8c8c;
  font-family: Poppins;
  padding: 2px 0 0 0;
  font-size: 10px;
  font-weight: 400;
}

.cart__item-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.cart__item-buttons .cart__item-addRemove button {
  border: none;
  background: #1c2c4e;
  color: #fff;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cart__item-buttons .cart__item-addRemove input {
  width: 35px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  height: 21px;
  text-align: center;
}

input::--webkit-outer-spin-button,
input::--webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cart__item-buttons .deliver {
  cursor: pointer;
  background: #e7484c;
  border: none;
  font-size: 10px;
  /* padding: 5px 5px 5px 5px; */
  height: 25px;
  width: 100px;
  color: #fff;
}

.add__heart {
  text-decoration: none;
  color: #000;
}
